.about {
  &__content {
    margin: 0 auto;
    max-width: 980px;
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;
  }

  &__main {
    @extend .text;

    p {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }

  @media (max-width: 767px) {
    &__title {
      font-size: 36px;
    }

    &__main {
      font-size: 18px;
    }

    &__text {
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 36px;
    }
  }
}