.accordion {
  &__button {
    user-select: none;
    cursor: pointer;
  }

  &__content {
    display: none;
    transition: height .5s;
  }

  &_activating &__content {
    height: 0;
    display: block;
    overflow: hidden;
  }

  &_active &__content {
    display: block;
  }
}