.address {
  &__header {
    text-align: center;
  }

  &__text {
    margin-top: 14px;
    font-size: 20px;
  }

  &__map {
    margin-top: 32px;
    border-radius: 25px;
    overflow: hidden;
    height: 672px;
    background: #e1e1e1;
  }
}