.advantages {
  &__content {
    padding: 80px 0 95px 0;
    background: rgba(85, 101, 236, 0.06);
    border-radius: 25px;
  }

  &__header {
    padding-right: 40px;
    padding-left: 75px;
  }

  &__title {
    max-width: 720px;
  }

  &__list {
    margin: -40px -27px;
    padding-top: 72px;
    padding-right: 40px;
    padding-left: 75px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(100% / 3 - 54px);
    margin: 40px 27px;
  }

  &__btn {
    margin: 90px auto 0;
    display: block;
    min-width: 182px;
  }
}