.advantages {
  &__content {
    padding: 80px 0 95px 0;
    background: rgba(85, 101, 236, 0.06);
    border-radius: 25px;
  }

  &__header {
    padding: 0 40px 0 75px;
  }

  &__title {
    max-width: 720px;
  }

  &__list {
    margin: -40px -27px;
    padding: 72px 40px 0 75px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(100% / 3 - 54px);
    margin: 40px 27px;
  }

  &__footer {
    margin-top: 90px;
    text-align: center;
  }

  &__btn {
    min-width: 182px;
  }

  @media (max-width: 1260px) {
    &__content {
      padding: 55px 0 70px 0;
    }

    &__header {
      padding: 0 45px;
    }

    &__list {
      margin: -30px 0;
      padding: 58px 15px 0 30px;
    }

    &__item {
      width: calc(100% / 3 - 30px);
      margin: 30px 15px;
    }

    &__footer {
      margin-top: 70px;
    }
  }

  @media (max-width: 1220px) {
    &__content {
      margin: 0 -#{$container-offset};
    }
  }

  @media (max-width: 991px) {
    &__item {
      width: calc(50% - 30px);
      margin: 30px 15px;
    }
  }

  @media (max-width: 767px) {
    &__content {
      padding-top: 35px;
      margin: 0 -12px;
    }

    &__header {
      padding: 0 30px;
    }

    &__title {
      text-align: center;
    }

    &__list {
      margin: 0;
      padding: 35px 30px 0;
    }

    &__item {
      width: 100%;
      margin: 12px 0;
    }

    &__footer {
      margin-top: 68px;
    }
  }

  @media (max-width: 480px) {
    &__content {
      padding-top: 20px;
    }

    &__header {
      padding: 0 12px;
    }

    &__list {
      margin: -12px 0;
      padding: 32px 12px 0;
    }
  }
}