.benefit-item {
  position: relative;
  padding: 55px 35px 55px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

  &:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 13px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: $color-gradient;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }

  &__content {
    margin: auto 0;
  }

  &__text {
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}