.contacts {
  &__content {
    padding: 70px 87px;
    border-radius: 20px;
    background-color: $color-primary;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__btn {
    margin-right: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 15px;
    font-weight: 500;
  }

  &__worktime {
    margin-left: auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #fcfcfc;
  }

  &__worktime-value {
    span:not(:last-child) {
      margin-right: 14px;
    }
  }

  @media (max-width: 1220px) {
    &__content {
      padding: 50px 55px;
    }
  }

  @media (max-width: 1100px) {
    &__content {
      justify-content: center;
    }

    &__worktime {
      margin-top: 25px;
      margin-right: auto;
    }
  }

  @media (max-width: 767px) {
    &__content {
      flex-direction: column;
      padding: 30px 20px 53px;
    }

    &__btn {
      margin-right: 0;
      margin-bottom: 12px;
      width: 300px;
      max-width: 100%;
      white-space: nowrap;
    }

    &__worktime {
      margin: 12px 0 0;
    }
  }

  @media (max-width: 480px) {
    &__worktime {
      width: 100%;
    }

    &__worktime-value {
      margin-top: 8px;
      display: block;
    }
  }

  @media (max-width: 340px) {
    &__btn {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}