.cookie {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity .6s, visibility .6s, transform .6s;

  &__content {
    position: relative;
    padding: 36px 80px 36px 57px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.09);
    border-radius: 22px;
  }

  &__text {
    margin: 0 32px;
    max-width: 634px;
    font-size: 24px;
    line-height: 1.4;
  }

  &__btn {
    margin-left: auto;
    padding-left: 57px;
    padding-right: 57px;
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 32px;
  }

  &_show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @media (max-width: 1220px) {
    &__content {
      padding: 30px 60px 30px 45px;
    }

    &__text {
      font-size: 22px;
    }
  }

  @media (max-width: 991px) {
    &__content {
      padding: 25px 35px;
    }

    &__img {
      max-width: 80px;
    }

    &__text {
      font-size: 18px;
      margin: 0 24px;
      max-width: 510px;
    }

    &__close {
      top: 18px;
      right: 18px;
    }
  }

  @media (max-width: 767px) {
    &__img {
      max-width: 65px;
    }

    &__text {
      font-size: 16px;
      margin: 0 16px;
    }
  }

  @media (max-width: 640px) {
    &__content {
      padding: 24px 20px 16px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__img {
      max-width: 50px;
    }

    &__text {
      margin: 16px 0 16px 16px;
      max-width: calc(100% - 81px);
      font-size: 14px;
    }

    &__btn {
      margin-right: auto;
      font-size: 14px;
    }
  }
}