.course-item {
  padding: 32px 33.5px 33px;
  background-color: $color-primary;
  border-radius: 20px;
  color: #fff;

  &__title {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
  }

  &__text {
    margin-top: 10px;
  }

  &_offset-big {
    padding-top: 55px;
    padding-left: 42px;
  }

  @media (max-width: 1220px) {
    padding: 25px 24px;

    &__title {
      font-size: 22px;
    }
  }

  @media (max-width: 767px) {
    &__title {
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px 16px;
  }
}