.faq {
  &__content {
    max-width: 980px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-top: 32px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: $color-primary;
  }

  &__list {
    margin-top: 72px;
  }

  &__item {
    padding-bottom: 32px;
    border-bottom: 1px solid #4d4d4d;

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__item-header {
    position: relative;
    padding-right: 25px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-image: $color-gradient;
    }

    &:after {
      @include before-icon('../img/icons/down.svg', 21px, 14px);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      transition: transform .3s;
    }
  }

  &__item-header.accordion__button_active {
    &:after {
      transform: translateY(-50%) rotate(0);
    }
  }

  &__item-icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background: #fff;
  }

  &__item-main {
    padding-top: 24px;
    padding-left: 40px;
    max-width: 815px;
    @extend .text;

    h3 {
      font-size: 18px;
      line-height: 1.33;
      font-weight: 600;

      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    p {
      &:not(:first-child) {
        margin-top: 18px;
      }

      b {
        font-weight: 600;
      }
    }
  }

  &__footer {
    margin-top: 42px;
    display: flex;
    justify-content: center;
  }

  &_course &__content {
    padding: 58px 98px 93px 70px;
    border: 2px solid $color-primary;
    border-radius: 20px;
    max-width: none;
  }

  &_course &__title {
    text-align: left;
  }

  &_course &__list {
    margin-top: 64px;
  }

  &_course &__item-header {
    padding-left: 0;
    padding-right: 55px;

    &:before {
      display: none;
    }
  }

  &_course &__item-main {
    padding-left: 0;
    padding-right: 60px;
    max-width: 1015px;
  }

  &_profile &__list {
    margin-top: 42px;
  }

  &_profile &__item-header {
    padding-left: 0;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: 400;

    &:before {
      display: none;
    }
  }

  &_profile &__item-main {
    padding-left: 0;
    max-width: 616px;
  }

  //media for IE
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    &__item {
      .accordion__content {
        display: block;
      }
    }

    &__item-header {
      cursor: text;

      &:after {
        display: none;
      }
    }
  }

  @media (max-width: 1220px) {
    &_course &__content {
      padding: 50px 70px 65px 50px;
    }

    &_profile &__item-header {
      font-size: 32px;
    }
  }

  @media (max-width: 991px) {
    &__subtitle {
      margin-top: 24px;
      font-size: 22px;      
    }

    &__list {
      margin-top: 52px;
    }

    &__item-header {
      font-size: 22px;
    }

    &_course &__content {
      padding: 40px 45px;
    }

    &_course &__list {
      margin-top: 52px;
    }

    &_course &__item-main {
      padding-right: 35px;
    }

    &_profile &__list {
      margin-top: 32px;
    }

    &_profile &__item-header {
      font-size: 30px;
    }
  }

  @media (max-width: 767px) {
    &__subtitle {
      margin-top: 16px;
      font-size: 20px;
    }

    &__list {
      margin-top: 32px;
    }

    &__item {
      padding-bottom: 24px;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    &__item-header {
      font-size: 18px;
      padding-left: 32px;

      &:before {
        width: 20px;
        height: 20px;
      }

      &:after {
        width: 18px;
        height: 11px;
      }
    }

    &__item-main {
      padding-top: 16px;
      padding-left: 32px;

      h3 {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }

      p {
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }

    &__item-icon {
      width: 44px;
      height: 44px;

      img {
        max-height: 24px;
      }
    }

    &_course &__content {
      padding: 20px 16px 30px;
    }

    &_course &__list {
      margin-top: 32px;
    }

    &_course &__item-header {
      padding-left: 0;
      padding-right: 20px;
    }

    &_course &__item-main {
      padding-left: 0;
      padding-right: 20px;
    }
    
    &_profile &__item-header {
      font-size: 28px;
    }
  }

  @media (max-width: 480px) {
    &_profile &__item-header {
      font-size: 24px;
    }
  }
}