.footer {
  background: $color-black;

  &__content {
    padding: 33px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    color: #b8b8b8;
    font-size: 18px;
    line-height: 1.3;
  }

  @media (max-width: 480px) {
    &__content {
      padding-top: 20px;
      padding-bottom: 15px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__copyright {
      margin-top: 6px;
      line-height: 2;
      font-size: 12px;
    }

    &__social {
      order: -1;
    }
  }
}