.main {
  padding-bottom: 90px;
  overflow: hidden;

  &__solve,
  &__advantages,
  &__candidate {
    margin-top: 110px;
  }

  &__section,
  &__features {
    margin-top: 90px;
  }

  &__terms {
    margin-top: 135px;
  }

  &__courses,
  &__partners,
  &__experts {
    margin-top: 72px;
  }

  &__video {
    margin-top: 40px;
  }

  &__trust {
    margin-top: 85px;
  }

  &__test {
    margin-top: 95px;
  }

  @media (max-width: 1220px) {
    padding-bottom: 80px;

    &__section,
    &__solve,
    &__features,
    &__advantages,
    &__candidate,
    &__trust,
    &__test {
      margin-top: 80px;
    }

    &__terms {
      margin-top: 100px;
    }

    &__courses,
    &__partners,
    &__experts {
      margin-top: 60px;
    }
  }

  @media (max-width: 991px) {
    padding-bottom: 60px;

    &__section,
    &__solve,
    &__features,
    &__advantages,
    &__candidate,
    &__trust,
    &__test {
      margin-top: 60px;
    }

    &__terms {
      margin-top: 75px;
    }

    &__video {
      margin-top: 32px;
    }
  }

  @media (max-width: 480px) {
    padding-bottom: 52px;
    
    &__solve,
    &__features,
    &__courses,
    &__partners,
    &__candidate,
    &__trust,
    &__test {
      margin-top: 42px;
    }

    &__section,
    &__advantages,
    &__terms,
    &__experts {
      margin-top: 52px;
    }

    &__video {
      margin-top: 16px;
    }
  }
}