.main {
  padding-bottom: 90px;
  overflow: hidden;

  &__solve,
  &__advantages,
  &__candidate {
    margin-top: 110px;
  }

  &__section,
  &__features {
    margin-top: 90px;
  }

  &__terms {
    margin-top: 135px;
  }

  &__courses,
  &__partners {
    margin-top: 72px;
  }

  @media (max-width: 1220px) {
    padding-bottom: 80px;

    &__section,
    &__solve,
    &__features,
    &__advantages,
    &__candidate {
      margin-top: 80px;
    }

    &__terms {
      margin-top: 100px;
    }

    &__courses,
    &__partners {
      margin-top: 60px;
    }
  }

  @media (max-width: 991px) {
    padding-bottom: 60px;

    &__section,
    &__solve,
    &__features,
    &__advantages,
    &__candidate {
      margin-top: 60px;
    }

    &__terms {
      margin-top: 75px;
    }
  }

  @media (max-width: 480px) {
    padding-bottom: 52px;
    
    &__solve,
    &__features,
    &__courses,
    &__partners,
    &__candidate {
      margin-top: 42px;
    }

    &__section,
    &__advantages,
    &__terms {
      margin-top: 52px;
    }
  }
}