.solve {
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    padding-top: 30px;
    max-width: 376px;
    line-height: 1.4;
  }

  &__img {
    margin-left: 30px;
    margin-right: 32px;
    align-self: flex-end;
    max-width: calc(50% - 55px);
  }

  &__list {
    margin: -18px -15px -15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 15px;
    width: calc(50% - 30px);
  }

  @media (max-width: 991px) {
    &__title {
      padding-top: 0;
      font-size: 34px;
    }
  }

  @media (max-width: 767px) {
    &__header {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      margin-bottom: 42px;
      text-align: center;
      font-size: 32px;
    }

    &__img {
      align-self: center;
      margin-left: 0;
      margin-right: 0;
      width: calc(100% - 28px);
      max-width: 420px;
    }

    &__list {
      margin-left: -#{$container-offset-mobile};
      margin-right: -#{$container-offset-mobile};
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin: 12px 0;
      width: 100%;
      max-width: 520px;

      &_mobile_first {
        order: -1;
      }
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 28px;
      padding: 0 5px;
    }

    &__item {
      margin: 9px 0;
    }
  }
}