.terms {
  &__title {
    text-align: center;
  }

  &__list {
    margin: -26px -27px;
    padding-top: 52px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 26px 27px;
    width: calc(100% / 3 - 54px);

    &_col_8 {
      width: calc(100% / 12 * 8 - 54px);

      .term-item__indication {
        &:after {
          max-width: 694px;
        }
      }
    }
  }

  @media (max-width: 1260px) {
    &__list {
      margin: -27px -15px;
    }

    &__item {
      margin: 27px 15px;
      width: calc(100% / 3 - 30px);

      &_col_8 {
        width: calc(100% / 12 * 8 - 30px);
      }
    }
  }

  @media (max-width: 991px) {
    &__item {
      width: calc(50% - 30px);

      &_col_8 {
        width: calc(50% - 30px);

        .term-item__indication {
          &:after {
            max-width: 260px;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    &__list {
      padding-top: 45px;
      margin: -12px 0;
    }

    &__item {
      width: 100%;
      margin: 12px 0;
    }
  }
}