.trust {
  &__title {
    text-align: center;
    font-size: 48px;
  }

  &__list {
    margin: -15px;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 15px;
    width: calc(50% - 30px);
  }

  @media (max-width: 991px) {
    &__list {
      padding-top: 52px;
      margin: -10px;
    }
    
    &__item {
      margin: 10px;
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 767px) {
    &__list {
      padding-top: 42px;
      margin: -10px 0;
    }
    
    &__item {
      margin: 10px auto;
      width: 100%;
      max-width: 576px;
    }
  }
}