.video {
  &__content {
    border-bottom: 1px solid #e4e4e5;
    padding-bottom: 42px;
  }

  &__container {
    position: relative;
    padding-top: 56%;
    background: #DDE0F7;
    border: 1px solid #EDF4F9;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}