$container-width:       1182px;
$container-offset:      15px;

$color-primary:       #5565ec;
$color-black:         #4d4d4d;
$color-white:         #fff;
$color-gradient:      linear-gradient(90deg, #5565EC 13.9%, #0CB3BE 64.82%, #0CB3BE 84.62%);

$color-danger:        #d63329;
$color-success:       #3fd411;
$color-warning:       #d8ae1c;

$color-text:          #0a090b;